@charset "UTF-8";

.adminSection, .memberSection, .categoryWrapper, .manufacturWrapper, .setToDate, .searchWrapper{
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:90%;
	border:solid 1px #202125;
	margin:10px 0 0 0;
	border-radius: 10px;
	background-color: #0c0c0c;
	padding:10px 0 10px 10px;
	color: #777a81;
	font-size: 0.8rem;
}
.searchWrapper{
	padding:10px 10px 0 10px;
}
.search, .itemSearchForm div span{
	background-color:#0c0c0c;
	border:solid 1px #202125;
}
.leftTitle{
	width:100%;
	text-align: center;
	font-weight:bold;
	border-bottom:solid 1px #202125;
	padding:0 0 10px 0;
}
.categoryWrapper, .manufacturWrapper{
	padding:10px 0;
}
.manufacturWrapper{
	margin-bottom:10px;
}
.leftContent{
	padding:0 10px 0 25px;
}
section.leftContent article{
	padding:5px 0;
	border-bottom:dotted 1px #202125;
	text-indent: 5px;
	cursor:pointer;
	position: relative;
}
section.leftContent article:last-child{
	border-bottom:0;
	padding:5px 0 0 0;
}
section .categoryWrapper .leftTitle, section .manufacturWrapper .leftTitle{
	cursor:pointer;
}

section .categoryWrapper .leftTitle:hover, section .manufacturWrapper .leftTitle:hover{
	color:#f4c4a7;
	text-decoration: underline;
}
.setToDate article{
	text-align:center;
	font-weight:bold;
}
.setToDate{
	padding:10px 0;
}
section.leftContent article:hover{
	color:#ffffff;
	text-decoration: underline;
}
.category_init{
	display:flex;
	flex-direction:column;
	opacity: 0;
	position:absolute;
	width:200px;
	background-color:#0c0c0c;
	border:solid 1px #202125;
	border-radius:10px;
	box-shadow :10px 10px 10px #000000;
	color:#777a81;
	top:-300px;
	left:178px;
	padding:10px 0;
	font-size:0.8rem;
}
.category_2_ef{
 	opacity: 1;
	transition : all 0.3s;
}
.setCategory_2{
	position: relative;
	padding:5px 0;
	border-bottom:dotted 1px #202125;
}
.setCategory_2:last-child{
	border-bottom:0;
}
.cate2list{
	width:100%;
	height:100%;
	cursor:pointer;
}
.cate2list:hover{
	color:#ffffff;
	text-decoration: underline;
}

.category_3{
	display:none;
	flex-direction:column;
	opacity: 0;
	position: absolute;
	top:0;
	left:190px;
	width:200px;
	background-color:#0c0c0c;
	border:solid 1px #202125;
	border-radius:10px;
	box-shadow :10px 10px 10px #000000;
	color:#777a81;
	font-size:0.8rem;
	padding:10px;
}

.category_3_ef{
	display:flex;
	opacity : 1;
	transition : all 0.7s;
}