@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body, html{
    margin:0;
    padding:0;
}

body{
	-ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
	display: none;
}

.main{
	margin:0 auto;
	width:1200px;
}
.navigator{
	display:flex;
	justify-content:center;
	border-bottom:solid 1px #eeeeee;
	padding:10px 0;
	background-color: #ffffff;
	position: relative;
}
.navigatorOn{
	position:fixed;
	width:100%;
	left:0;
	background-color:#e7eeff;
	border-bottom:solid 1px #adbee5;
	z-index:30;
}
.subMenu{
	display: flex;
	opacity:0;
	position: absolute;
	transition:all 0.5s;
	top:-500px;
	left: 50%;
	transform: translateX(-50%);
}
.subMenuOn{
	opacity:1;
	height:300px;
	width:1200px;
	border:solid 1px #dcdcdc;
	top:34px;
	left: 50%;
	background-color: #ffffff;
	border-radius:0 0 10px 10px;
	box-shadow :0 8px 24px rgba(140,149,159,0.2);
	z-index: 50;
	transform: translateX(-50%);
}
.subMenuWrapper{
	width:100%;
	height:40px;
	border-bottom:dotted 1px #dcdcdc;
}
.topMenu{
	display:flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.topMenu li{
	margin:0 10px;
	cursor:pointer;
}
ul.topMenu li:hover{
	color:orange;
	text-decoration: underline;
}

.mainListTitle{
	font-family: 'Unbounded', cursive;
	font-size:2.5rem;
	padding:10px 0;
	text-align: center;
}
.listTitle{
	padding:10px 0 20px 0;
	text-align: center;
	font-weight:700;
}
.textLogo{
	color:#e42221;
}

.goodsListAll{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.itemWrapper{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	height:400px;
	width: 280px;
	background-color:#ffffff;
	border:solid 1px #eeeeee;
	border-radius: 10px;
	transition :all 0.3s;
	cursor: pointer;
	margin-bottom: 20px;
}
.itemWrapper:hover{
	border:solid 1px #dcdcdc;
	box-shadow :10px 10px 10px #eeeeee;
}
.itemImg{
	display:flex;
	justify-content:center;
	margin-top:5px;
	width:260px;
	height:260px;
}
.itemName{
	width:260px;
	border-top:solid 1px #eeeeee;
	text-align: center;
	font-weight:700;
	padding:5px 0;
	margin-top: 5px;
}
section.itemWrapper .itemImg img{
	width:100%;
	height:100%;
	border-radius: 10px;
}
.retailPrice{
	font-weight:700;
	text-decoration: line-through;
}
.purchasePrice{
	font-size: 1.1rem;
	color:#e42221;
	font-weight:700;
}
.brandGoodsWrapper, .categoryGoodsWrapper{
	height:300px;
	border-bottom:solid 1px #eeeeee;
}
.brandGoodsList, .categoryGoodsList{
	display: flex;
	justify-content: space-between;
	height:100%;
}
.specialItemWrapper{
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 280px;
    width: 180px;
    background-color: #ffffff;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
    border:solid 1px #eeeeee;
}
.specialItemImg{
	display: flex;
	position:relative;
	justify-content: center;
	align-items:flex-start;
	width:100%;
	height:60%;
	overflow: hidden;
	box-shadow :0px 20px 20px 0px #eeeeee;
}
.specialItemInfo{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
	width:100%;
	height:30%;
}
section.specialItemImg img{
	width:160px;
	height:160px;
	position:absolute;
	top:50px;
	transition :all 0.2s;
}

.specialItemName{
	font-size:0.75rem;
	padding:25px 0 0 0;
	text-align: center;
	height:10%;
}
.specialItemPrice{
	font-size:0.85rem;
	text-decoration: line-through;
}
.specialItemPurchasePrice{
	font-size:0.9rem;
	color:#e42221;
	font-weight:700;
}